* {
    font-family: Arial !important;
}

body {
    background-image: url(../assets/imgs/wp.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.clearfix {
    clear: both;
}

#game-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 550px;
    margin: auto;
}

.board {
    background-image: url(../assets/imgs/board.png);
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    background-repeat: no-repeat;
    margin-top: 50px !important;
}

.game-title {
    color: white;
    background-color: #0C0C0C;
    padding: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

form {
    display: inline;
}

.title {
    font-size: 20px;
    background-color: red;
    margin-left: -10px;
    padding: 10px;
}

/* Boards */
.board div {
    float: left;
    height: 490px;
}

.left-board {
    width: 146px;
    background: url(../assets/imgs/kalah.png) no-repeat right center;
    margin-left: 10px;
}

.right-board {
    width: 146px;
    background: url(../assets/imgs/kalah.png) no-repeat left center;
    margin-left: -10px;
}

.center-board {
    width: 500px;
    height: 490px;
}

.top-center-board {
    height: 245px !important;
    width: 500px;
}

.bottom-center-board {
    height: 245px !important;
    width: 500px;
}

.top-center-board>div {
    margin-top: 90px !important;
}

.seed-number {
    color: #ffbb6f;
    position: absolute;
    margin-left: 27px;
    font-size: 20px;
    height: 20px !important;
}

.top-center-board>div>div.seed-number {
    margin-top: 80px;
}

.bottom-center-board>div>div.seed-number {
    margin-top: -30px;
}

.bottom-center-board>div {
    margin-top: 100px !important;
}

.top-center-board>div, .bottom-center-board>div {
    width: 60px;
    height: 60px;
    margin: 10px;
    background: url(../assets/imgs/house.png) no-repeat center;
    border-radius: 100% !important;
}

.top-center-board>div[active]:hover, .bottom-center-board>div[active]:hover {
    box-shadow: inset 0px 0px 1px 2px #ffbb6f;
}

.right-board>div.seed-number {
    position: relative;
    top: 0;
    bottom: 0;
    margin-left: -60px;
    margin-top: 225px;
    font-size: 40px;
}

.left-board>div.seed-number {
    position: relative;
    top: 0;
    bottom: 0;
    margin-left: 178px;
    margin-top: 220px;
    font-size: 40px;
}

/* Game Graphics */
.seed {
    width: 30px !important;
    height: 30px !important;
    background: url(../assets/imgs/seed.png) no-repeat center;
    border-radius: 100%;
    position: relative;
    top: 16px;
    left: 17px;
}